<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="container">
    
    <div class="sub-container">
      <h1>Public Servers</h1>
      <div class="server-list">
        <% servers.forEach(function(server){ %>
          <div class="card server-card" style="">
              <img class="card-img-top" src="<%= server.server_image %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= server.server_name %></h5>
                <p class="card-text"><%= server.server_desc %></p>
                <a href="/server/<%= server.server_name %>" class="btn btn-primary">Connect</a>
              </div>
            </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
