<div id="servers" v-cloak>
    <article class="listing">
        <div class="image"><img class="card-img-top" src="<%= serverInfo.server_image %>" alt="Card image cap"></div>
        <div class="">
          <h3><%= serverInfo.server_name %></h3>
          <div class="detail"><span>Game:</span> <%= serverInfo.server_type %></div>
          <div class="detail"><span>Description:</span> <%= serverInfo.server_desc %></div>
          <div class="detail"><span>Hostname:</span> <%= serverInfo.server_hostname %></div>
          <div class="detail"><span>Status:</span> <%= serverInfo.server_status %></div>
          <div class="detail"><span>Last Updated:</span> <%= serverInfo.last_updated %></div>
          <div class="detail"><span>Date Created:</span> <%= serverInfo.date_created %></div>
        </div>
        <div class="end"></div>
      </article>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
  